.header {
	position: relative;
	margin-bottom: 95px;
}


.site-desc {
	position: absolute;
	right: -50px;
	top: 58px;

}

.site-desc__content {
	transform: rotate(-90deg) translate(-100%, 0);
	transform-origin: left top;
	position: absolute;
	left: 0;
	top: 0;
	.vertical-text;
}

.header-social-wrapper {
	position: absolute;
	right: -45px;
	bottom: 0;
}